@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}